// Variabili dimensionali
$header_height_basic        : 15vh;
$header_height_scrolled     : 10vh; 
$header_x_padding           : 3rem;

$bar_width                  : 33vw;
$bar_height                 : 2.5vh; 
$line_width                 : 25vw; 
$banner_text_width          : 50vw;

$card_set_padding           : 4rem; 
$card_set_gap               : 2vw;
$card_set_width             : 85vw;
$card_set_height            : 97vw;

$map_box_height             : 35vh;
$map_box_padding            : 1.5rem;

$footer_height_upper        : 25vh;
$footer_height_lower        : 15vh;

// Variabili cromatiche
$header_bg_color            : #262833; 
$nav_menu_color             : lightgray;
$nav_menu_hover_col         : white; 

$line_color                 : #444E63;
$banner_text_color          : #7D7B7B; 

$main_bg_color              : #252A33;

$img_data_bg                : #323844;
$img_title_color            : #EC4858;
$img_text_color             : #7D7173;
$img_overlay_color          : rgba($color: #FF0000, $alpha: 0.5);
$img_transition_time        : 0.33s;

$footer_upper_bg            : #323844;
$footer_lower_bg            : #252A33;
$footer_menu_col            : #767A82;
$icon_hover_col             : #C34050;

$accordion_trans_time       : 0.3s;