// Variabili dimensionali
$header_height_basic        : 15vh;
$header_height_scrolled     : 10vh; 
$header_x_padding           : 3rem;

$gap_section_height         : 50vh;
$bar_width                  : 33vw;
$bar_height                 : 2.5vh; 

$line_width                 : 25vw; 
$gap_text_width             : 50vw;

// Variabili cromatiche
$header_bg_color            : #262833; 
$nav_menu_color             : white;

$gap_section_bg             : #323844;
$bar_color                  : #EC4858;

$line_color                 : #444E63;
$gap_text_color             : #7D7B7B; 


