// Importazione dei parziali
@import "./scss_partials/_variables.scss";
@import "./scss_partials/_mixin.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// * :i
// {
//     font-family: 'Tilt Warp', cursive;
//     font-family: 'Work Sans', sans-serif;
// }


a
{
    text-decoration: none;
}

.std_flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}